body{
	background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2bc0e4, #eaecc6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2bc0e4, #eaecc6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
	background-color:#2980b9;
	color:white;
	margin:0;
	padding:10px 20px;
	text-transform:uppercase;
	font-size:24px;
	font-weight:normal;
}

ul{
	list-style:none;
	margin:0;
	padding:0;
}

li{
	background-color:white;
	height:40px;
	line-height:40px;
	color:#666;
	
}
li:nth-child(even){
	background-color:#F7F7F7;
}



span{
	display:inline-block;
	box-sizing:border-box;	
	background-color:#87CEEB;
	height:100%;
	vertical-align:middle;
	transform: translateY(-5%);
	width:0;
	
}

.can{
	 
	 height:90%;
	 display: block;
     margin:auto;
	 width:0;
}

li:hover span{
	width:40px;
	transition: width .75s;
	
}
li:hover .can{
	width:40px;
	transition: width .75s;
}


input{
	font-size:18px;
	background-color:#F7F7F7;
	width:100%;
	padding:13px 13px 13px 20px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color:#2980b9;
	border:3px solid rgba(0, 0, 0, 0);
}

input:focus{
	background-color:white;
	border:3px solid #2980b9;
	outline:none;
}


#container{
	background-color:#F7F7F7;
	width:360px;
	margin:100px auto;
	box-shadow:0 0 3px rgba(0, 0, 0, .1);
}

.completed{
	color:gray;
	text-decoration:line-through;
}

.plus{
	float:right;
	margin:0 auto;
	height:35px;
}


